Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

fantomas:
  name: dotnet fantomas
  language: system
  entry: dotnet fantomas

tofu-fmt:
  name: tofu fmt
  language: system
  entry: tofu fmt

tofu-validate:
  name: tofu validate
  language: system
  entry: tofu validate
  pass_filenames: false

ci: bump GitHub Actions off deprecated Node 20 runtime (#14)
  .github/workflows/cicd.yaml
  .github/workflows/lint.yaml
Due: none

refactor(mise): move secret [env] to dev-only mise.dev.toml + .miserc.toml
  .mise.toml
  .miserc.toml
  fsharp/api/automate/.mise.toml
  mise.dev.toml
  terraform/infrastructure/frankenstructure/.mise.toml
  terraform/infrastructure/gateway/.mise.toml
Due: none

refactor(mise): move kubeconfig/.env statics to dev too; base has no [env]
  .mise.toml
  mise.dev.toml
Due: none

refactor(mise): dev-only secret env (Phase 1 for mise-in-CI) (#15)
  .mise.toml
  .miserc.toml
  fsharp/api/automate/.mise.toml
  mise.dev.toml
  terraform/infrastructure/frankenstructure/.mise.toml
  terraform/infrastructure/gateway/.mise.toml
Due: none

ci: provision toolchain via jdx/mise-action with MISE_ENV=ci (finish mise-in-CI)
  .github/actions/tofu-deploy/action.yaml
  .github/workflows/cicd.yaml
  .github/workflows/lint.yaml
Due: none

ci: finish mise-in-CI consolidation (jdx/mise-action + MISE_ENV=ci) (#16)
  .github/actions/tofu-deploy/action.yaml
  .github/workflows/cicd.yaml
  .github/workflows/lint.yaml
Due: none

feat(frankenbot): Phase 1 — Renovate detection spine
  .github/workflows/renovate.yaml
  renovate.json5
Due: none

feat(frankenbot): Phase 2 — agent triage image + dispatcher + CI build
  .github/workflows/cicd.yaml
  .github/workflows/renovate.yaml
  python/pipeline/frankenbot/.mise.toml
  python/pipeline/frankenbot/Dockerfile
  python/pipeline/frankenbot/agent-skills/CLAUDE.md
  python/pipeline/frankenbot/agent-skills/frankenbot.md
  python/pipeline/frankenbot/docker-compose.yaml
  python/pipeline/frankenbot/frankenbot/__init__.py
  python/pipeline/frankenbot/frankenbot/cli.py
  python/pipeline/frankenbot/frankenbot/config.py
  python/pipeline/frankenbot/frankenbot/dispatch.py
  python/pipeline/frankenbot/frankenbot/githubapp.py
  python/pipeline/frankenbot/frankenbot/otel.py
  python/pipeline/frankenbot/frankenbot/triage.py
  python/pipeline/frankenbot/pyproject.toml
  python/pipeline/frankenbot/repos.yaml
Due: none

feat(frankenbot): Phase 3 — cluster stack (slim) + deploy job
  .github/workflows/cicd.yaml
  terraform/applications/frankenbot/.mise.toml
  terraform/applications/frankenbot/.terraform.lock.hcl
  terraform/applications/frankenbot/configmaps.tf
  terraform/applications/frankenbot/cronjob_dispatcher.tf
  terraform/applications/frankenbot/external_secret_anthropic.tf
  terraform/applications/frankenbot/external_secret_anthropic.yaml
  terraform/applications/frankenbot/external_secret_github_app.tf
  terraform/applications/frankenbot/external_secret_github_app.yaml
  terraform/applications/frankenbot/limitrange.tf
  terraform/applications/frankenbot/locals.tf
  terraform/applications/frankenbot/main.tf
  terraform/applications/frankenbot/namespaces.tf
  terraform/applications/frankenbot/rbac.tf
  terraform/applications/frankenbot/resourcequota.tf
  terraform/applications/frankenbot/secrets.tf
  terraform/applications/frankenbot/variables.tf
Due: tofu-fmt, tofu-validate

feat(frankenbot): Phase 4a — reversibility risk-tier classifier
  python/pipeline/frankenbot/.mise.toml
  python/pipeline/frankenbot/frankenbot/classifier.py
  python/pipeline/frankenbot/frankenbot/cli.py
  python/pipeline/frankenbot/pyproject.toml
  python/pipeline/frankenbot/tests/__init__.py
  python/pipeline/frankenbot/tests/test_classifier.py
Due: none

feat(frankenbot): Phase 4b — Postgres state + dormant autonomy engine
  .github/workflows/cicd.yaml
  python/pipeline/frankenbot/.mise.toml
  python/pipeline/frankenbot/frankenbot/autonomy.py
  python/pipeline/frankenbot/frankenbot/config.py
  python/pipeline/frankenbot/frankenbot/dispatch.py
  python/pipeline/frankenbot/frankenbot/state.py
  python/pipeline/frankenbot/pyproject.toml
  python/pipeline/frankenbot/tests/test_autonomy.py
  python/pipeline/frankenbot/tests/test_state.py
  terraform/applications/frankenbot/.terraform.lock.hcl
  terraform/applications/frankenbot/configmaps.tf
  terraform/applications/frankenbot/cronjob_dispatcher.tf
  terraform/applications/frankenbot/databases.tf
  terraform/applications/frankenbot/jobs.tf
  terraform/applications/frankenbot/locals.tf
  terraform/applications/frankenbot/main.tf
  terraform/applications/frankenbot/migrations/20260630000001_create_schema_public.sql
  terraform/applications/frankenbot/migrations/20260630000002_grant_privileges_to_frankenbot.sql
  terraform/applications/frankenbot/migrations/20260630000003_create_work_state_and_budget.sql
  terraform/applications/frankenbot/secrets.tf
  terraform/applications/frankenbot/variables.tf
Due: tofu-fmt, tofu-validate

feat(frankenbot): Phase 4c — tofu plan-on-PR reversibility oracle
  .github/actions/tofu-plan/action.yaml
  .github/workflows/cicd.yaml
Due: none

feat(frankenbot): Phase 5 — multi-repo fan-out scaffolding
  python/pipeline/frankenbot/README.md
  python/pipeline/frankenbot/frankenbot/backlog.py
  python/pipeline/frankenbot/frankenbot/config.py
  python/pipeline/frankenbot/frankenbot/discovery.py
  python/pipeline/frankenbot/frankenbot/githubapp.py
  python/pipeline/frankenbot/repos.yaml
  python/pipeline/frankenbot/tests/test_backlog.py
  python/pipeline/frankenbot/tests/test_discovery.py
  renovate.json5
Due: none

fix(frankenbot): security + correctness fixes from review (python)
  python/pipeline/frankenbot/Dockerfile
  python/pipeline/frankenbot/README.md
  python/pipeline/frankenbot/frankenbot/classifier.py
  python/pipeline/frankenbot/frankenbot/config.py
  python/pipeline/frankenbot/frankenbot/dispatch.py
  python/pipeline/frankenbot/frankenbot/githubapp.py
  python/pipeline/frankenbot/frankenbot/state.py
  python/pipeline/frankenbot/frankenbot/triage.py
  python/pipeline/frankenbot/tests/test_classifier.py
  python/pipeline/frankenbot/tests/test_dispatch.py
  python/pipeline/frankenbot/tests/test_state.py
  python/pipeline/frankenbot/tests/test_triage.py
Due: none

fix(frankenbot): CI + infra fixes from review
  .github/workflows/cicd.yaml
  .mise.toml
  pyproject.toml
  python/pipeline/frankenbot/.mise.toml
  python/pipeline/frankenbot/Dockerfile
  python/pipeline/frankenbot/pyproject.toml
  terraform/applications/frankenbot/rbac.tf
  terraform/applications/frankenbot/resourcequota.tf
Due: tofu-fmt, tofu-validate

docs(frankenbot): correct Phase 0 GitHub App permissions (least-privilege)
  python/pipeline/frankenbot/README.md
Due: none

fix(frankenbot): unify 1Password item references to house naming
  .github/workflows/renovate.yaml
  python/pipeline/frankenbot/README.md
  terraform/applications/frankenbot/external_secret_anthropic.yaml
  terraform/applications/frankenbot/external_secret_github_app.yaml
Due: none

fix(frankenbot): align Anthropic 1Password item title
  python/pipeline/frankenbot/README.md
  terraform/applications/frankenbot/external_secret_anthropic.yaml
Due: none

refactor(frankenbot): generate Postgres app password via random_password
  .github/workflows/cicd.yaml
  python/pipeline/frankenbot/README.md
  terraform/applications/frankenbot/.terraform.lock.hcl
  terraform/applications/frankenbot/databases.tf
  terraform/applications/frankenbot/main.tf
  terraform/applications/frankenbot/secrets.tf
  terraform/applications/frankenbot/variables.tf
Due: tofu-fmt, tofu-validate

fix(external-secrets): rewrite ExternalSecret remoteRefs for 1Password Connect provider
  docs/architecture-config-secrets-cicd.md
  fsharp/api/automate/terraform/external_secret_automate.yaml
  terraform/applications/miniflux/external_secret_miniflux.yaml
  terraform/infrastructure/external-secrets/README.md
  terraform/infrastructure/observability/external_secret_grafana_cloud.yaml
Due: none

fix(external-secrets): rewrite ExternalSecret remoteRefs for 1Password Connect provider (#19)
  docs/architecture-config-secrets-cicd.md
  fsharp/api/automate/terraform/external_secret_automate.yaml
  terraform/applications/miniflux/external_secret_miniflux.yaml
  terraform/infrastructure/external-secrets/README.md
  terraform/infrastructure/observability/external_secret_grafana_cloud.yaml
Due: none

chore: claim affinity-removal worktree
  todo.txt
Due: none

refactor(k8s): remove dead node-pool affinity; fix ollama nodeAffinity placement
  terraform/applications/httpbin/helm.tf
  terraform/applications/miniflux/helm.tf
  terraform/applications/node-red/node-red.tf
  terraform/applications/ntfy/helm.tf
  terraform/applications/ollama/ollama.tf
  terraform/infrastructure/external-secrets/helm.tf
  terraform/infrastructure/external-secrets/locals.tf
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
  terraform/infrastructure/gateway/helm.tf
  terraform/infrastructure/gateway/locals.tf
  terraform/infrastructure/observability/base_collector.tf
  terraform/infrastructure/observability/helm.tf
  terraform/infrastructure/observability/locals.tf
Due: tofu-fmt, tofu-validate

refactor(k8s): remove dead node-pool affinity; fix ollama nodeAffinity placement (#20)
  terraform/applications/httpbin/helm.tf
  terraform/applications/miniflux/helm.tf
  terraform/applications/node-red/node-red.tf
  terraform/applications/ntfy/helm.tf
  terraform/applications/ollama/ollama.tf
  terraform/infrastructure/external-secrets/helm.tf
  terraform/infrastructure/external-secrets/locals.tf
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
  terraform/infrastructure/gateway/helm.tf
  terraform/infrastructure/gateway/locals.tf
  terraform/infrastructure/observability/base_collector.tf
  terraform/infrastructure/observability/helm.tf
  terraform/infrastructure/observability/locals.tf
  todo.txt
Due: tofu-fmt, tofu-validate

docs(musync): README + external-service re-verify checklist (PR #18 review)
  fsharp/api/musync/README.md
Due: none

feat(musync): PR #18 review pass B — timed VEVENT + Songkick-page enrichment (doors/show/openers/vendor), clobber-safe content_hash
  fsharp/api/musync/Musync.Tests/CalendarStateTests.fs
  fsharp/api/musync/Musync.Tests/CalendarTests.fs
  fsharp/api/musync/Musync.Tests/Musync.Tests.fsproj
  fsharp/api/musync/Musync.Tests/NotifierTests.fs
  fsharp/api/musync/Musync.Tests/PersistenceTests.fs
  fsharp/api/musync/Musync.Tests/SetlistCurateTests.fs
  fsharp/api/musync/Musync.Tests/SetlistTests.fs
  fsharp/api/musync/Musync.Tests/SongkickEnrichTests.fs
  fsharp/api/musync/Musync.Tests/fixtures/songkick_concert_page.html
  fsharp/api/musync/Musync.Tests/fixtures/songkick_concert_page_full.html
  fsharp/api/musync/Musync/Adapters/Songkick.fs
  fsharp/api/musync/Musync/Adapters/SongkickEnrich.fs
  fsharp/api/musync/Musync/Calendar.fs
  fsharp/api/musync/Musync/Domain.fs
  fsharp/api/musync/Musync/Musync.fsproj
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Ports.fs
  fsharp/api/musync/Musync/Program.fs
  fsharp/api/musync/db/migrations/20260701000002_add_concert_page_enrichment_columns.sql
  fsharp/api/musync/db/schema.sql
Due: fantomas

feat(musync): Phase 1a — F# skeleton (domain, ports, config, concerts migration)
  fsharp/api/musync/.dockerignore
  fsharp/api/musync/.mise.toml
  fsharp/api/musync/Dockerfile
  fsharp/api/musync/Musync.Tests/Core.fs
  fsharp/api/musync/Musync.Tests/DomainTests.fs
  fsharp/api/musync/Musync.Tests/Musync.Tests.fsproj
  fsharp/api/musync/Musync.Tests/Program.fs
  fsharp/api/musync/Musync.sln
  fsharp/api/musync/Musync/Config.fs
  fsharp/api/musync/Musync/Domain.fs
  fsharp/api/musync/Musync/Errors.fs
  fsharp/api/musync/Musync/Musync.fsproj
  fsharp/api/musync/Musync/Ports.fs
  fsharp/api/musync/Musync/Program.fs
  fsharp/api/musync/db/init/01_create_musync_app_database.sql
  fsharp/api/musync/db/init/02_create_musync_api_user.sql
  fsharp/api/musync/db/migrations/20260630000001_grant_all_privileges_to_musync_api.sql
  fsharp/api/musync/db/migrations/20260630000002_create_table_concerts.sql
  fsharp/api/musync/db/schema.sql
  fsharp/api/musync/docker-compose.yaml
Due: fantomas

chore(musync): tofu-managed random_password for Postgres (drop op-sourced pw var)
  .github/workflows/cicd.yaml
  fsharp/api/musync/terraform/.terraform.lock.hcl
  fsharp/api/musync/terraform/databases.tf
  fsharp/api/musync/terraform/main.tf
  fsharp/api/musync/terraform/variables.tf
Due: tofu-fmt, tofu-validate

feat(musync): Phase 4 — pre-show setlist-assist (ProbableSetlist, fail-open, nudge email) — MVP complete
  fsharp/api/musync/Musync.Tests/CalendarTests.fs
  fsharp/api/musync/Musync.Tests/Musync.Tests.fsproj
  fsharp/api/musync/Musync.Tests/NotifierTests.fs
  fsharp/api/musync/Musync.Tests/SetlistCurateTests.fs
  fsharp/api/musync/Musync.Tests/SetlistTests.fs
  fsharp/api/musync/Musync.Tests/fixtures/setlist_beatles_fuzzy.json
  fsharp/api/musync/Musync.Tests/fixtures/setlist_radiohead_setlists.json
  fsharp/api/musync/Musync.Tests/fixtures/setlist_search_empty.json
  fsharp/api/musync/Musync/Adapters/CalendarEmail.fs
  fsharp/api/musync/Musync/Adapters/Notifier.fs
  fsharp/api/musync/Musync/Adapters/Setlist.fs
  fsharp/api/musync/Musync/Calendar.fs
  fsharp/api/musync/Musync/Config.fs
  fsharp/api/musync/Musync/Domain.fs
  fsharp/api/musync/Musync/Musync.fsproj
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Program.fs
  fsharp/api/musync/Musync/SetlistCurate.fs
  fsharp/api/musync/docker-compose.yaml
  fsharp/api/musync/terraform/external_secret_musync.yaml
Due: fantomas

fix(musync): ESO remoteRefs for 1Password Connect (key/property split)
  fsharp/api/musync/terraform/cronjobs.tf
  fsharp/api/musync/terraform/external_secret_musync.yaml
Due: tofu-fmt, tofu-validate

feat(musync): Phase 1b — tofu stack, ESO, 2 hardened CronJobs, CI, deadman ping
  .github/workflows/cicd.yaml
  fsharp/api/musync/Musync/Musync.fsproj
  fsharp/api/musync/Musync/Program.fs
  fsharp/api/musync/terraform/.terraform.lock.hcl
  fsharp/api/musync/terraform/configmaps.tf
  fsharp/api/musync/terraform/cronjobs.tf
  fsharp/api/musync/terraform/databases.tf
  fsharp/api/musync/terraform/external_secret_musync.tf
  fsharp/api/musync/terraform/external_secret_musync.yaml
  fsharp/api/musync/terraform/jobs.tf
  fsharp/api/musync/terraform/locals.tf
  fsharp/api/musync/terraform/main.tf
  fsharp/api/musync/terraform/namespaces.tf
  fsharp/api/musync/terraform/registries.tf
  fsharp/api/musync/terraform/secrets.tf
  fsharp/api/musync/terraform/variables.tf
Due: fantomas, tofu-fmt, tofu-validate

feat(musync): Phase 3 — calendar ICS-by-email (all-day VEVENT, content_hash state machine)
  fsharp/api/musync/Musync.Tests/CalendarStateTests.fs
  fsharp/api/musync/Musync.Tests/CalendarTests.fs
  fsharp/api/musync/Musync.Tests/Musync.Tests.fsproj
  fsharp/api/musync/Musync/Adapters/CalendarEmail.fs
  fsharp/api/musync/Musync/Calendar.fs
  fsharp/api/musync/Musync/CalendarSync.fs
  fsharp/api/musync/Musync/Email.fs
  fsharp/api/musync/Musync/Musync.fsproj
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Program.fs
Due: fantomas

fix(musync): PR #18 review — Setlist.fm ToS (attribution + Songkick proof-link + short-lived prediction cache) + ESO item repoints
  fsharp/api/musync/Musync.Tests/NotifierTests.fs
  fsharp/api/musync/Musync.Tests/PersistenceTests.fs
  fsharp/api/musync/Musync/Adapters/Notifier.fs
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Program.fs
  fsharp/api/musync/terraform/external_secret_musync.yaml
Due: fantomas

ci(musync): use mise-action for musync jobs; fix ESO secret comment
  .github/workflows/cicd.yaml
Due: none

refactor(musync): PR #18 review pass C — readability (simplify, decompose, drop dead code)
  fsharp/api/musync/Musync/Adapters/Notifier.fs
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Program.fs
Due: fantomas

refactor(musync): PR #18 review pass A — deadman→virtual DLQ self-heal + Proton SMTP
  fsharp/api/musync/Musync.Tests/CalendarStateTests.fs
  fsharp/api/musync/Musync.Tests/CalendarTests.fs
  fsharp/api/musync/Musync.Tests/NotifierTests.fs
  fsharp/api/musync/Musync.Tests/PersistenceTests.fs
  fsharp/api/musync/Musync.Tests/SetlistCurateTests.fs
  fsharp/api/musync/Musync.Tests/SetlistTests.fs
  fsharp/api/musync/Musync/Adapters/Notifier.fs
  fsharp/api/musync/Musync/Adapters/Songkick.fs
  fsharp/api/musync/Musync/Config.fs
  fsharp/api/musync/Musync/Domain.fs
  fsharp/api/musync/Musync/Email.fs
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Ports.fs
  fsharp/api/musync/Musync/Program.fs
  fsharp/api/musync/db/migrations/20260701000001_add_calendar_setlist_dlq_columns.sql
  fsharp/api/musync/db/schema.sql
  fsharp/api/musync/docker-compose.yaml
  fsharp/api/musync/terraform/cronjobs.tf
  fsharp/api/musync/terraform/external_secret_musync.yaml
Due: fantomas, tofu-fmt, tofu-validate

test(musync): cover PlanStatus parse/serialize round-trip + rejection
  fsharp/api/musync/Musync.Tests/DomainTests.fs
Due: fantomas

feat(musync): Phase 2 — Songkick ICS ingest → Concert upsert (Going-only, fail-closed)
  fsharp/api/musync/Musync.Tests/Musync.Tests.fsproj
  fsharp/api/musync/Musync.Tests/PersistenceTests.fs
  fsharp/api/musync/Musync.Tests/SongkickTests.fs
  fsharp/api/musync/Musync.Tests/fixtures/songkick_attendance.ics
  fsharp/api/musync/Musync/Adapters/Songkick.fs
  fsharp/api/musync/Musync/Domain.fs
  fsharp/api/musync/Musync/Musync.fsproj
  fsharp/api/musync/Musync/Persistence.fs
  fsharp/api/musync/Musync/Program.fs
Due: fantomas

refactor(musync): remove dead node-pool affinity (align with #20)
  fsharp/api/musync/terraform/cronjobs.tf
  fsharp/api/musync/terraform/jobs.tf
Due: tofu-fmt, tofu-validate

chore: claim right-sizing worktree
  todo.txt
Due: none

Path conditions:
  fantomas: any of: \.(fs|fsx)$
  tofu-fmt: any of: \.(tf|tfvars)$
  tofu-validate: any of: \.(tf|tfvars)$
