Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

fantomas:
  name: dotnet fantomas
  language: system
  entry: dotnet fantomas

tofu-fmt:
  name: tofu fmt
  language: system
  entry: tofu fmt

tofu-validate:
  name: tofu validate
  language: system
  entry: tofu validate
  pass_filenames: false

refactor(automate-api): Move health handlers to modules
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/HealthTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

refactor(automate-api): Use custom JSON serializer handler for health handlers
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

chore(automate-api): Add services and doit tasks for watch and running test and run commands
  fsharp/api/automate/Dockerfile
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
Due: none

chore(automate-api): Add functional tests and healthchecks
  fsharp/api/automate/Dockerfile
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
  fsharp/api/automate/tests/functional.sh
Due: none

feat(automate-api): Add database health check to startup endpoint
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/Dockerfile
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/locals.tf
  fsharp/api/automate/tests/functional.sh
Due: fantomas, tofu-fmt, tofu-validate

fix(automate-api): Fix package reference for FSharp.Core
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate/AutoMate.fsproj
Due: none

fix(automate-api): Configure database in production environment
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Utilities.fs
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/secrets.tf
Due: fantomas, tofu-fmt, tofu-validate

feat(monitoring-grafana): Add dashboard, PostgreSQL Exporter Overview
  terraform/infrastructure/monitoring/grafana-dashboards/PostgreSQL Exporter Overview-1733943965480.json
Due: none

feat(monitoring-grafana): Add another dashboard for Postgres
  terraform/infrastructure/monitoring/grafana-dashboards/DB/PostgreSQL-swarmstack-1733955306062.json
Due: none

chore(monitoring): Organize dashboards in folders
  terraform/infrastructure/monitoring/configmaps.tf
  terraform/infrastructure/monitoring/grafana-dashboards/Apps/dotnet-monitor.json
  terraform/infrastructure/monitoring/grafana-dashboards/BB/Synthetics-1728180719764.json
  terraform/infrastructure/monitoring/grafana-dashboards/BB/prometheus-blackbox-exporter.json
  terraform/infrastructure/monitoring/grafana-dashboards/DB/PostgreSQL-Exporter-Overview-1733943965480.json
  terraform/infrastructure/monitoring/grafana-dashboards/GW/NGINX-Gateway-Fabric-1728180757840.json
  terraform/infrastructure/monitoring/kube_prometheus_stack.tf
Due: tofu-fmt, tofu-validate

refactor(monitoring-grafana): Use existing directory structure to map to dashboard folders
  terraform/infrastructure/monitoring/configmaps.tf
Due: tofu-fmt, tofu-validate

feat(monitoring-grafana): Move default dashboards under folder, K8
  terraform/infrastructure/monitoring/kube_prometheus_stack.tf
Due: tofu-fmt, tofu-validate

chore(monitoring): Upgrade Kube Prometheus Stack
  terraform/infrastructure/monitoring/kube_prometheus_stack.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Add some string utilties
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

chore(automate-api): Only push Docker image for API
  .github/workflows/cicd.yaml
  fsharp/api/automate/dodo.py
Due: none

chore(automate-api): Monitor for Dotnet exceptions
  fsharp/api/automate/terraform/prometheus_rules.tf
Due: tofu-fmt, tofu-validate

chore(monitoring-alertmanager): Configure default alert grouping by namespace
  terraform/infrastructure/monitoring/alertmanager_configs.tf
Due: tofu-fmt, tofu-validate

chore(monitoring): Save Terraform lock updates
  terraform/infrastructure/monitoring/.terraform.lock.hcl
Due: none

fix(monitoring-grafana): Override root URL used to generate share links
  terraform/infrastructure/monitoring/kube_prometheus_stack.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Add tests for Opt.wantSome utility
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api-tests): Replace Expect.equal with Want.equal
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
Due: fantomas

chore(automate-api): Add JSON utilities
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/TodoistTests.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Integrations.Todoist.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api): Flatten Todoist module and remove Integrations module
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/TodoistTests.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Integrations.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Todoist.fs
Due: fantomas

style(automate-api): Update route order
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

style(automate-api): Fix Want args and remove top-level imports from Utilities
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

chore(automate-api): Add Url utility
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api): Build route patterns from symbols
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Route.fs
Due: fantomas

fix(automate-api): Fix types for Want and Url modules
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api): Rename Want module to Unwrap
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api-tests): Rename Want module functions
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
Due: fantomas

chore(automate-api-tests): Add fail test case for Url.parseAbsolute
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
Due: fantomas

chore(automate-api): Add FsHttp extension Response module for FSharp.Json
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/Core.fs
  fsharp/api/automate/AutoMate.Tests/FsHttp.FSharpJsonTests.fs
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/FsHttp.FSharpJson.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

fix(automate-api-tests): Add missing module files
  fsharp/api/automate/AutoMate/Dropbox.fs
  fsharp/api/automate/AutoMate/OAuth.fs
Due: fantomas

fix(automate-api-tests): Remove manual test server dispose
  fsharp/api/automate/AutoMate.Tests/FsHttp.FSharpJsonTests.fs
Due: fantomas

chore(automate-api): Add CLI and environment config parser
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/ConfigTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

refactor(automate-api): Use FsConfig for loading app config
  fsharp/api/automate/AutoMate.Tests/ConfigTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

chore(automate-api): Configure app for Dropbox and Todoist
  .envrc
  .github/workflows/cicd.yaml
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/secrets.tf
  fsharp/api/automate/terraform/variables.tf
Due: fantomas, tofu-fmt, tofu-validate

refactor(automate-api): Simplify database connection arg passing
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

refactor(automate-api): Configure database connection as service
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Services.fs
Due: fantomas

refactor(automate-api): Create a dependency injection handler runner
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Services.fs
Due: fantomas

Path conditions:
  fantomas: any of: \.(fs|fsx)$
  tofu-fmt: any of: \.(tf|tfvars)$
  tofu-validate: any of: \.(tf|tfvars)$
