Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

fantomas:
  name: dotnet fantomas
  language: system
  entry: dotnet fantomas

tofu-fmt:
  name: tofu fmt
  language: system
  entry: tofu fmt

tofu-validate:
  name: tofu validate
  language: system
  entry: tofu validate
  pass_filenames: false

fix(monitoring-notifications): Move Todoist config back to top of HTML template
  terraform/infrastructure/monitoring/alertmanager_configs.tf
Due: tofu-fmt, tofu-validate

refactor(frankenstructure): Re-organize Vultr resources into various files
  terraform/infrastructure/frankenstructure/vultr.tf
  terraform/infrastructure/frankenstructure/vultr_databases.tf
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
  terraform/infrastructure/frankenstructure/vultr_storage.tf
  terraform/infrastructure/frankenstructure/vultr_vpc.tf
Due: tofu-fmt, tofu-validate

chore(k8s-nodes): Migrate production node pool to default
  terraform/applications/httpbin/httpbin.tf
  terraform/applications/windmill/locals.tf
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
Due: tofu-fmt, tofu-validate

chore(monitoring): Convert node selection to preferred node affinity
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
  terraform/infrastructure/monitoring/blackbox_exporter.tf
  terraform/infrastructure/monitoring/kube_prometheus_stack.tf
  terraform/infrastructure/monitoring/locals.tf
Due: tofu-fmt, tofu-validate

chore(gateway): Convert node selection to preferred node affinity
  terraform/infrastructure/gateway/cert_manager.tf
  terraform/infrastructure/gateway/external_dns.tf
  terraform/infrastructure/gateway/locals.tf
  terraform/infrastructure/gateway/nginx_gateway.tf
Due: tofu-fmt, tofu-validate

chore(monitoring): Tweak resource requests and limits
  terraform/infrastructure/monitoring/kube_prometheus_stack.tf
  terraform/infrastructure/monitoring/locals.tf
Due: tofu-fmt, tofu-validate

chore(monitoring-blackbox): Increase to 2 replicas and define resource requests and limits
  terraform/infrastructure/monitoring/blackbox_exporter.tf
Due: tofu-fmt, tofu-validate

chore(ollama): Set node affinity
  terraform/applications/ollama/ollama.tf
Due: tofu-fmt, tofu-validate

feat(automate): Create Terraform files
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
  fsharp/api/automate/terraform/.terraform.lock.hcl
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/locals.tf
  fsharp/api/automate/terraform/main.tf
  fsharp/api/automate/terraform/namespaces.tf
  fsharp/api/automate/terraform/probes.tf
  fsharp/api/automate/terraform/registries.tf
  fsharp/api/automate/terraform/routes.tf
  fsharp/api/automate/terraform/services.tf
  fsharp/api/automate/terraform/variables.tf
Due: tofu-fmt, tofu-validate

feat(automate-api): Add health probes
  fsharp/api/automate/.envrc
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/Program.fs
  fsharp/api/automate/dodo.py
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/locals.tf
  fsharp/api/automate/terraform/probes.tf
  fsharp/api/automate/terraform/variables.tf
Due: fantomas, tofu-fmt, tofu-validate

chore(automate-api): WIP
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/Program.fs
  fsharp/api/automate/Todoist.fs
Due: fantomas

chore(alertmanager-config): Group deadmans switch alert by severity
  terraform/infrastructure/monitoring/alertmanager_configs.tf
Due: tofu-fmt, tofu-validate

chore(frankenstructure): Update trusted home IP
  terraform/infrastructure/frankenstructure/variables.tf
Due: tofu-fmt, tofu-validate

refactor(git): Merge ignore files into root
  .gitignore
  fsharp/api/automate/.gitignore
  terraform/.gitignore
Due: none

fix(node-red): Disable service monitor since will not work until deploy a flow
  terraform/applications/node-red/node-red.tf
Due: tofu-fmt, tofu-validate

fix(frankenstructure-terraform): Lock vultr provider to older version
  terraform/infrastructure/frankenstructure/.terraform.lock.hcl
  terraform/infrastructure/frankenstructure/main.tf
Due: tofu-fmt, tofu-validate

fix(automate-api): Address type errors
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/Program.fs
  fsharp/api/automate/Todoist.fs
Due: fantomas

chore(automate-api): Add properties to fsproj
  fsharp/api/automate/AutoMate.fsproj
Due: none

fix(automate-api): Change Todoist webhooks endpoint from get to post
  fsharp/api/automate/Program.fs
Due: fantomas

feat(automate-api): Add debug endpoint
  fsharp/api/automate/Program.fs
Due: fantomas

chore(automate-api): Configure host
  fsharp/api/automate/Program.fs
Due: fantomas

fix(prometheus-rules): Alert on slow HTTP probe after 5 minutes
  terraform/infrastructure/monitoring/prometheus_rules.tf
Due: tofu-fmt, tofu-validate

fix(automate-api): Parse and route Todoist comment events
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/Todoist.fs
Due: fantomas

chore(automate-api): Deploy in CI/CD
  .envrc
  .github/workflows/build.yaml
  .github/workflows/cicd.yaml
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/secrets.tf
  fsharp/api/automate/terraform/variables.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Remove commented code
  fsharp/api/automate/Todoist.fs
Due: fantomas

feat(automate-monitor): Deploy dotnet-monitor sidecar as well as pod monitor and Grafana dashboard
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/monitors.tf
  terraform/infrastructure/monitoring/grafana-dashboards/dotnet-monitor.json
Due: tofu-fmt, tofu-validate

chore(automate-api): Create database
  .envrc
  .github/workflows/cicd.yaml
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/terraform/databases.tf
  fsharp/api/automate/terraform/variables.tf
  terraform/applications/windmill/databases.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Add generated version modifier for deploys
  .github/workflows/cicd.yaml
  fsharp/api/automate/.envrc
  fsharp/api/automate/dodo.py
  fsharp/api/automate/terraform/deployments.tf
Due: tofu-fmt, tofu-validate

feat(monitoring-exporters): Deploy Postgres Exporter
  .envrc
  .github/workflows/cicd.yaml
  terraform/infrastructure/monitoring/.terraform.lock.hcl
  terraform/infrastructure/monitoring/databases.tf
  terraform/infrastructure/monitoring/dodo.py
  terraform/infrastructure/monitoring/main.tf
  terraform/infrastructure/monitoring/prometheus_exporters.tf
  terraform/infrastructure/monitoring/secrets.tf
  terraform/infrastructure/monitoring/variables.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Disable JSON enum to string conversion
  fsharp/api/automate/Todoist.fs
Due: fantomas

chore(automate-compose): Add default image tag
  fsharp/api/automate/docker-compose.yaml
Due: none

refactor(automate-doit): Use regex ignore case flag
  fsharp/api/automate/dodo.py
Due: none

refactor(automate-api): Use Validus
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/Integrations.Todoist.fs
  fsharp/api/automate/Integrations.fs
  fsharp/api/automate/Program.fs
  fsharp/api/automate/Todoist.fs
Due: fantomas

refactor(automate-api): Move project files to a directory in prepartion for tests
  .github/workflows/cicd.yaml
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Integrations.Todoist.fs
  fsharp/api/automate/AutoMate/Integrations.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/Dockerfile
  fsharp/api/automate/dodo.py
Due: fantomas

fix(automate-api): Handle JSON deserialization exceptions
  fsharp/api/automate/AutoMate/Integrations.Todoist.fs
Due: fantomas

refactor(automate-api): Flatten program module
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

chore(automate-api): Add tests
  .github/workflows/cicd.yaml
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/Program.fs
  fsharp/api/automate/AutoMate.Tests/Sample.fs
  fsharp/api/automate/AutoMate.Tests/TodoistTests.fs
  fsharp/api/automate/AutoMate/Integrations.Todoist.fs
  fsharp/api/automate/dodo.py
Due: fantomas

chore(automate-api-tests): Add test for JSON deserialize
  fsharp/api/automate/AutoMate.Tests/TodoistTests.fs
Due: fantomas

refactor(automate-api): Make use of composition
  fsharp/api/automate/AutoMate/Integrations.Todoist.fs
Due: fantomas

refactor(automate-api): Group Todoist DTOs in version modules
  fsharp/api/automate/AutoMate.Tests/TodoistTests.fs
  fsharp/api/automate/AutoMate/Integrations.Todoist.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

Path conditions:
  fantomas: any of: \.(fs|fsx)$
  tofu-fmt: any of: \.(tf|tfvars)$
  tofu-validate: any of: \.(tf|tfvars)$
