Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

fantomas:
  name: dotnet fantomas
  language: system
  entry: dotnet fantomas

tofu-fmt:
  name: tofu fmt
  language: system
  entry: tofu fmt

tofu-validate:
  name: tofu validate
  language: system
  entry: tofu validate
  pass_filenames: false

chore(automate-api): Remove allow list for database
  terraform/infrastructure/frankenstructure/vultr_databases.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Restore database allow list
  terraform/infrastructure/frankenstructure/.terraform.lock.hcl
  terraform/infrastructure/frankenstructure/vultr_databases.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Allow CIDR for IP of Github Action runner
  terraform/infrastructure/frankenstructure/main.tf
  terraform/infrastructure/frankenstructure/vultr_databases.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Try a barebones CIDR check
  terraform/infrastructure/frankenstructure/vultr_databases.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Grant automate_api user all privileges
  fsharp/api/automate/db/init/01_create_automate_app_database.sql
  fsharp/api/automate/db/init/02_create_automate_api_user.sql
  fsharp/api/automate/db/migrations/20241230182503_grant_automate_api_all_privileges.sql
  fsharp/api/automate/db/schema.sql
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Guard CIDR comparison in CI/CD
  terraform/infrastructure/frankenstructure/vultr_databases.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Add doit task to run prod database migrations from local
  dodo.py
  fsharp/api/automate/dodo.py
Due: none

chore(doit): Add database tasks, dbshell, dbmigrate, dbrollback, and dburl
  .pre-commit-config.yaml
  dodo.py
  fsharp/api/automate/db/migrations/20241230003033_create_oauth_access_table.sql
  fsharp/api/automate/dodo.py
Due: none

chore(automate-api): Alter default privileges granted to database user automate_api
  fsharp/api/automate/db/migrations/20241230182503_grant_automate_api_all_privileges.sql
  fsharp/api/automate/db/migrations/20241231024426_create_schema_public.sql
  fsharp/api/automate/db/migrations/20241231024551_grant_all_privileges_to_automate_api.sql
  fsharp/api/automate/db/migrations/20241231025441_create_table_oauth_access.sql
  fsharp/api/automate/db/schema.sql
  fsharp/api/automate/dodo.py
Due: none

chore(automate-api): Automate database migrations in Kubernetes jobs
  .github/workflows/cicd.yaml
  fsharp/api/automate/terraform/configmaps.tf
  fsharp/api/automate/terraform/jobs.tf
  fsharp/api/automate/terraform/locals.tf
  fsharp/api/automate/terraform/secrets.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Try to re-use database migration job
  fsharp/api/automate/terraform/configmaps.tf
  fsharp/api/automate/terraform/jobs.tf
  fsharp/api/automate/terraform/locals.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Improve error handling
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/DependencyInjection.fs
  fsharp/api/automate/AutoMate/Errors.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Todoist.fs
Due: fantomas

refactor(automate-api): Apply optional type extensions for packages
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/FsHttpExtensions.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Dropbox.fs
  fsharp/api/automate/AutoMate/Errors.fs
  fsharp/api/automate/AutoMate/FalcoExtensions.fs
  fsharp/api/automate/AutoMate/FsHttp.FSharpJson.fs
  fsharp/api/automate/AutoMate/FsHttpExtensions.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Todoist.fs
Due: fantomas

chore(automate-api): Add undefined type to utilities
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api): Define a value for version
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

refactor(automate-api): Create use cases module
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Todoist.fs
  fsharp/api/automate/AutoMate/UseCases.fs
Due: fantomas

refactor(automate-api): Use result computation expression from Domain Modeling Made Functional
  fsharp/api/automate/AutoMate/UseCases.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

chore(workflows): Use official setup-dotnet
  .github/workflows/lint.yaml
Due: none

chore(workflows): Remove fantomas install
  .github/workflows/lint.yaml
Due: none

chore(workflows): Restore fantomas
  .github/workflows/lint.yaml
Due: none

chore(automate): Target Dotnet framework 9
  .github/workflows/cicd.yaml
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.sln
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/Dockerfile
Due: none

chore(automate): Upgrade some outdated packages
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/dodo.py
Due: none

chore(automate-doit): Fix running tests
  fsharp/api/automate/dodo.py
Due: none

chore(git): Ignore .fake directory
  .gitignore
Due: none

wip(automate): Hook up Todoist comment syncing
  fsharp/api/automate/AutoMate.Tests/AutoMate.Tests.fsproj
  fsharp/api/automate/AutoMate.Tests/NoteSyncingTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Domain.fs
  fsharp/api/automate/AutoMate/NoteSyncing.fs
  fsharp/api/automate/AutoMate/Todoist.fs
  fsharp/api/automate/AutoMate/UseCases.fs
  fsharp/api/automate/AutoMate/Utilities.fs
  fsharp/api/automate/Scratch.fsx
Due: fantomas

chore!(vultr): Remove deprecated VPC 2.0
  terraform/infrastructure/frankenstructure/vultr_vpc.tf
Due: tofu-fmt, tofu-validate

chore(doit): Add task, plan, to preview Terraform deploy
  terraform/infrastructure/frankenstructure/dodo.py
Due: none

refactor(vultr-k8s): Move hard-coded plan IDs to local variables
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
Due: tofu-fmt, tofu-validate

chore(vultr-k8s): Upgrade VKE
  terraform/infrastructure/frankenstructure/.terraform.lock.hcl
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
Due: tofu-fmt, tofu-validate

chore(vultr-k8s): Change node pool plan for LLM to Cloud GPU at $55/mo
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
Due: tofu-fmt, tofu-validate

fix(vultr-k8s): Upgrade LLM node from Nvidia A16 to Nvidia A40
  terraform/applications/ollama/.terraform.lock.hcl
  terraform/applications/ollama/ollama.tf
  terraform/infrastructure/frankenstructure/vultr_databases.tf
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
Due: tofu-fmt, tofu-validate

chore(gateway): Upgrade Nginx Gateway Fabric Helm chart from 1.4.0 to 1.6.2
  terraform/applications/ollama/routes.tf
  terraform/infrastructure/gateway/nginx_gateway.tf
Due: tofu-fmt, tofu-validate

chore(terraform): Auto-upgrade all minor versions
  fsharp/api/automate/terraform/.terraform.lock.hcl
  terraform/applications/httpbin/.terraform.lock.hcl
  terraform/applications/n8n/.terraform.lock.hcl
  terraform/applications/node-red/.terraform.lock.hcl
  terraform/applications/windmill/.terraform.lock.hcl
  terraform/infrastructure/gateway/.terraform.lock.hcl
  terraform/infrastructure/monitoring/.terraform.lock.hcl
Due: none

fix(gateway): Rename repository organization from nginxinc to nginx
  terraform/infrastructure/gateway/gateways.tf
  terraform/infrastructure/gateway/monitors.tf
  terraform/infrastructure/gateway/nginx_gateway.tf
Due: tofu-fmt, tofu-validate

fix(gateway): Add Nginx Gateway custom resource definitions (CRDs) with Kustomization
  terraform/infrastructure/gateway/nginx_gateway.tf
Due: tofu-fmt, tofu-validate

feat(ollama): Add workflow step to deploy in CD
  .github/workflows/cicd.yaml
Due: none

fix(ollama): Increase proxy timeout for upstream Ollama from Nginx Gateway
  terraform/applications/ollama/routes.tf
  terraform/infrastructure/gateway/nginx_gateway.tf
Due: tofu-fmt, tofu-validate

chore!(ollama): Decommission expensive LLM node
  terraform/applications/ollama/ollama.tf
  terraform/applications/ollama/probes.tf
  terraform/infrastructure/frankenstructure/vultr_kubernetes.tf
Due: tofu-fmt, tofu-validate

feat(miniflux): Deploy self-hosted miniflux
  .envrc
  .github/workflows/cicd.yaml
  terraform/applications/miniflux/.terraform.lock.hcl
  terraform/applications/miniflux/databases.tf
  terraform/applications/miniflux/helm.tf
  terraform/applications/miniflux/locals.tf
  terraform/applications/miniflux/main.tf
  terraform/applications/miniflux/namespaces.tf
  terraform/applications/miniflux/probes.tf
  terraform/applications/miniflux/routes.tf
  terraform/applications/miniflux/variables.tf
  terraform/modules/blackbox-probe/main.tf
  terraform/modules/blackbox-probe/probes.tf
  terraform/modules/blackbox-probe/variables.tf
  terraform/modules/gateway-route/locals.tf
  terraform/modules/gateway-route/main.tf
  terraform/modules/gateway-route/outputs.tf
  terraform/modules/gateway-route/routes.tf
  terraform/modules/gateway-route/variables.tf
  terraform/modules/service-monitor/main.tf
  terraform/modules/service-monitor/monitors.tf
  terraform/modules/service-monitor/variables.tf
  terraform/modules/vultr-managed-postgres/configmaps.tf
  terraform/modules/vultr-managed-postgres/databases.tf
  terraform/modules/vultr-managed-postgres/init-db-as-superuser.sql
  terraform/modules/vultr-managed-postgres/jobs.tf
  terraform/modules/vultr-managed-postgres/locals.tf
  terraform/modules/vultr-managed-postgres/main.tf
  terraform/modules/vultr-managed-postgres/outputs.tf
  terraform/modules/vultr-managed-postgres/secrets.tf
  terraform/modules/vultr-managed-postgres/variables.tf
Due: tofu-fmt, tofu-validate

fix(miniflux-monitor): Allow Kubernetes cluster network
  terraform/applications/miniflux/helm.tf
Due: tofu-fmt, tofu-validate

Path conditions:
  fantomas: any of: \.(fs|fsx)$
  tofu-fmt: any of: \.(tf|tfvars)$
  tofu-validate: any of: \.(tf|tfvars)$
