Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

fantomas:
  name: dotnet fantomas
  language: system
  entry: dotnet fantomas

tofu-fmt:
  name: tofu fmt
  language: system
  entry: tofu fmt

tofu-validate:
  name: tofu validate
  language: system
  entry: tofu validate
  pass_filenames: false

refactor(automate-api): Use dependency injection handler in OAuth registration
  fsharp/api/automate/AutoMate/OAuth.fs
Due: fantomas

refactor(automate-api): Use custom FSharp.Json helpers for FsHttp
  fsharp/api/automate/AutoMate/Dropbox.fs
Due: fantomas

fix(automate-api): Open database connection before injecting
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Services.fs
  fsharp/api/automate/docker-compose.yaml
Due: fantomas

refactor(automate-api): Rename dependency injection related helpers
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/DependencyInjection.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

refactor(automate-api): Use an enum for database SSL mode configuration
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Database.fs
Due: fantomas

chore(automate-api): Support log format configuration
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

refactor(automate-api): Support log level config and remove enum from type names
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/docker-compose.yaml
Due: fantomas

chore(automate-api): Add logging to startup health check handler
  fsharp/api/automate/AutoMate/DependencyInjection.fs
  fsharp/api/automate/AutoMate/Health.fs
Due: fantomas

refactor(automate-api): Auto open utilities module
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Todoist.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

feat(automate-api): Add /-/config endpoint to log app config
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/DependencyInjection.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Route.fs
Due: fantomas

fix(frankenstructure): Upgrade cloudflare provider
  terraform/infrastructure/frankenstructure/.terraform.lock.hcl
Due: none

chore(automate-api): Add package Npgsql.FSharp.Analyzer
  fsharp/api/automate/AutoMate/AutoMate.fsproj
Due: none

refactor(automate-api): Move Falco JSON helpers to dedicated file
  fsharp/api/automate/AutoMate.Tests/HealthTests.fs
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Falco.FSharpJson.fs
  fsharp/api/automate/AutoMate/Health.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

feat(automate-api): Stub support for creating and updating OAuth access in database
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/initdb/create-tables.sql
Due: fantomas

chore(automate-api): Remove Dapper as a dependency
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Database.fs
Due: fantomas

chore(automate-api): Constrain OAuth Access on account ID and provider
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/DependencyInjection.fs
  fsharp/api/automate/AutoMate/Errors.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/initdb/create-tables.sql
Due: fantomas

chore(automate-api): Configure Dropbox redirect base URL for OAuth registration
  fsharp/api/automate/AutoMate/AutoMate.fsproj
  fsharp/api/automate/AutoMate/Config.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Utilities.fs
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/terraform/secrets.tf
Due: fantomas, tofu-fmt, tofu-validate

refactor(automate-api): Tweak log levels
  fsharp/api/automate/AutoMate/DependencyInjection.fs
Due: fantomas

refactor(automate-api): Rename input argument
  fsharp/api/automate/AutoMate/OAuth.fs
Due: fantomas

fix(automate-api): Fix production logging level
  fsharp/api/automate/terraform/secrets.tf
Due: tofu-fmt, tofu-validate

refactor(automate-api): Add try prefix to internal URL utility
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

chore(automate-api): Add query string utilities
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

refactor(automate-api): Change access from internal to private for some routes
  fsharp/api/automate/AutoMate/Route.fs
Due: fantomas

feat(automate-api): Add OAuth authorize endpoint for Dropbox
  fsharp/api/automate/AutoMate/Database.fs
  fsharp/api/automate/AutoMate/Dropbox.fs
  fsharp/api/automate/AutoMate/OAuth.fs
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Route.fs
  fsharp/api/automate/docker-compose.yaml
Due: fantomas

fix(automate-api): Handle adding to empty query string
  fsharp/api/automate/AutoMate.Tests/UtilitiesTests.fs
  fsharp/api/automate/AutoMate/Utilities.fs
Due: fantomas

feat(automate-api): Add version endpoint
  fsharp/api/automate/AutoMate/Program.fs
  fsharp/api/automate/AutoMate/Route.fs
Due: fantomas

fix(automate-api): Update database SSL mode environment variable name in production
  fsharp/api/automate/terraform/secrets.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Add healthcheck to Compose Postgres
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Expose Postgres to a random local port
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Fix Postgres is ready check connection parameters
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Log all Postgres statements in Compose
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Configure Compose Postgres default SSL mode to allow
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Setup dbmate for database migrations
  Brewfile
  fsharp/api/automate/db/migrations/20241230003033_create_oauth_access_table.sql
  fsharp/api/automate/db/schema.sql
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/initdb/create-tables.sql
Due: none

chore(automate-api): Add healthchecks for Compose API
  fsharp/api/automate/docker-compose.yaml
Due: none

chore(automate-api): Run migrations for production deploys
  .github/workflows/cicd.yaml
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
  fsharp/api/automate/terraform/.terraform.lock.hcl
  fsharp/api/automate/terraform/locals.tf
  fsharp/api/automate/terraform/main.tf
  fsharp/api/automate/terraform/migrations.tf
  fsharp/api/automate/terraform/secrets.tf
  fsharp/api/automate/terraform/variables.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Fix database migrations by using Github Action for dbmate
  .github/workflows/cicd.yaml
  fsharp/api/automate/terraform/.terraform.lock.hcl
  fsharp/api/automate/terraform/locals.tf
  fsharp/api/automate/terraform/main.tf
  fsharp/api/automate/terraform/migrations.tf
  fsharp/api/automate/terraform/secrets.tf
  fsharp/api/automate/terraform/variables.tf
Due: tofu-fmt, tofu-validate

chore(automate-api): Fix configuring database migrations working directory in CI/CD
  .github/workflows/cicd.yaml
Due: none

chore(automate-api): Fix database migration Github action with latest dbmate image
  .github/workflows/cicd.yaml
Due: none

chore(automate-api): Add 5 minute timeout to database migration Github action step
  .github/workflows/cicd.yaml
Due: none

chore(automate-api): Use admin creds for database migrations
  .github/workflows/cicd.yaml
Due: none

Path conditions:
  fantomas: any of: \.(fs|fsx)$
  tofu-fmt: any of: \.(tf|tfvars)$
  tofu-validate: any of: \.(tf|tfvars)$
