Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

fantomas:
  name: dotnet fantomas
  language: system
  entry: dotnet fantomas

tofu-fmt:
  name: tofu fmt
  language: system
  entry: tofu fmt

tofu-validate:
  name: tofu validate
  language: system
  entry: tofu validate
  pass_filenames: false

fix(ci-pre-commit): Setup Fantomas
  .github/workflows/ci.yaml
Due: none

fix(mypy): Ignore type error from bug
  terraform/infrastructure/frankencluster/dodo.py
Due: none

chore(ci-pre-commit): Update step versions
  .github/workflows/ci.yaml
Due: none

docs(readme): Add CI Workflow status badge
  README.md
Due: none

fix(ci-pre-commit): Use full pre-commit/action version
  .github/workflows/ci.yaml
Due: none

docs(readme): Link CI Workflow badge to UI
  README.md
Due: none

fix(ci-pre-commit): Setup Python with version 3.12
  .github/workflows/ci.yaml
Due: none

style(automate): Lowercase project directory name
  .github/workflows/ci.yaml
  README.md
  fsharp/api/automate/.dockerignore
  fsharp/api/automate/.envrc
  fsharp/api/automate/.gitignore
  fsharp/api/automate/AutoMate.fsproj
  fsharp/api/automate/Dockerfile
  fsharp/api/automate/Program.fs
  fsharp/api/automate/Properties/launchSettings.json
  fsharp/api/automate/README.md
  fsharp/api/automate/appsettings.json
  fsharp/api/automate/docker-compose.yaml
  fsharp/api/automate/dodo.py
Due: fantomas

feat(n8n.frank.sh): Deploy basic n8n
  terraform/applications/n8n/.terraform.lock.hcl
  terraform/applications/n8n/README.md
  terraform/applications/n8n/n8n.tf
Due: tofu-fmt, tofu-validate

feat(nodered.frank.sh): Deploy basic Node-RED
  terraform/applications/node-red/.terraform.lock.hcl
  terraform/applications/node-red/README.md
  terraform/applications/node-red/node-red.tf
Due: tofu-fmt, tofu-validate

feat(ci,cd): Continuously deploy n8n, but fail
  .github/workflows/build.yaml
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
Due: none

feat(cd): Load secrets
  .envrc
  .github/workflows/cd.yaml
  .yamllint.yaml
  README.md
Due: none

fix(cd): Call correct Vultr CLI binary
  .github/workflows/cd.yaml
Due: none

fix(cd): Fix vultr-cli option typo
  .github/workflows/cd.yaml
Due: none

fix(cd): Add missing string concatenation
  .github/workflows/cd.yaml
Due: none

refactor(cd): Modularize secrets in its own job
  .github/workflows/cd.yaml
Due: none

feat(cd): Deploy Node-RED
  .github/workflows/cd.yaml
Due: none

fix(cd): Fix accessing Kube Config from job output
  .github/workflows/cd.yaml
Due: none

fix(cd): Use correct node-red working directory
  .github/workflows/cd.yaml
Due: none

fix(cd): Fix Kube Config bas64 output
  .github/workflows/cd.yaml
Due: none

feat(vke): Add node pools for foundation and monitoring
  .github/workflows/cd.yaml
  terraform/infrastructure/frankenstructure/vultr.tf
Due: tofu-fmt, tofu-validate

fix(cd): Encrypt secrets passed as outputs between jobs
  .github/workflows/cd.yaml
Due: none

fix(k8s): Add node selectors for pods with dedicated node pools
  .envrc
  .github/workflows/cd.yaml
  terraform/applications/n8n/n8n.tf
  terraform/applications/node-red/node-red.tf
  terraform/infrastructure/frankencluster/README.md
  terraform/infrastructure/frankencluster/cert_manager.tf
  terraform/infrastructure/frankencluster/external_dns.tf
  terraform/infrastructure/frankencluster/main.tf
  terraform/infrastructure/frankencluster/nginx_gateway.tf
  terraform/infrastructure/frankencluster/prometheus_operator.tf
  terraform/infrastructure/frankencluster/variables.tf
Due: tofu-fmt, tofu-validate

fix(k8s): Delete bad node pool
  terraform/infrastructure/frankenstructure/vultr.tf
Due: tofu-fmt, tofu-validate

feat(k8s): Create standard node pool
  terraform/infrastructure/frankenstructure/vultr.tf
Due: tofu-fmt, tofu-validate

chore(httpbin): Increase replica count to 2
  terraform/infrastructure/frankencluster/httpbin.tf
Due: tofu-fmt, tofu-validate

refactor(cd): Separate initial secrets
  .github/workflows/cd.yaml
Due: none

refactor(httpbin): Move httpbin to separate project
  .github/workflows/cd.yaml
  terraform/applications/httpbin/.terraform.lock.hcl
  terraform/applications/httpbin/httpbin.tf
Due: tofu-fmt, tofu-validate

feat(windmill): Deploy basic windmill.dev app
  .github/workflows/cd.yaml
  terraform/applications/windmill/.terraform.lock.hcl
  terraform/applications/windmill/windmill.tf
Due: tofu-fmt, tofu-validate

fix(envrc): Export $KUBECONFIG for kubectl
  .envrc
Due: none

fix(windmill): Limit resources and reduce workers
  terraform/applications/windmill/windmill.tf
Due: tofu-fmt, tofu-validate

feat(dead-mans-switch): Route Watchdog alerts to Healthchecks.io
  .envrc
  .github/workflows/cd.yaml
  .gitignore
  terraform/infrastructure/frankencluster/.terraform.lock.hcl
  terraform/infrastructure/frankencluster/README.md
  terraform/infrastructure/frankencluster/dodo.py
  terraform/infrastructure/frankencluster/main.tf
  terraform/infrastructure/frankencluster/prometheus_operator.tf
  terraform/infrastructure/frankencluster/variables.tf
Due: tofu-fmt, tofu-validate

fix(deadmans-switch): Add custom Prometheus rule
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

fix(deadmans-switch): Disable Alertmanager config matcher strategy on namespace
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

refactor(alertmanager-config): Merge all notifications into a single config
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

fix(alertmanager-config): Group alert notifications by alert name
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

docs(readme): Add CD workflow and Healthchecks.io status badges
  README.md
Due: none

fix(alertmanager-config): Rename null receiver to void
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

docs(prometheus-operator): Comment potential volume names
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

fix(alertmanager-config): Use correct regex match type value
  terraform/infrastructure/frankencluster/prometheus_operator.tf
Due: tofu-fmt, tofu-validate

Path conditions:
  fantomas: any of: \.(fs|fsx)$
  tofu-fmt: any of: \.(tf|tfvars)$
  tofu-validate: any of: \.(tf|tfvars)$
