Repository dysfungi/monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: fantomas, tofu-fmt, tofu-validate

.pre-commit-config.yaml:

---
# https://pre-commit.com/hooks.html
repos:
  ###########
  # GENERAL #
  ###########

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        types_or: [css, html, json, markdown, yaml]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
  # TODO: https://github.com/replicatedhq/dockerfilelint/issues/196
  # - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
  #   rev: v0.1.0
  #   hooks:
  #     - id: dockerfilelint
  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check

  ######
  # F# #
  ######

  - repo: local
    hooks:
      - id: fantomas
        name: dotnet fantomas
        language: system
        entry: dotnet fantomas
        types: [file]
        files: \.(fs|fsx)$

  ###########
  # PYTHON #
  ###########

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        exclude: "tests/"
        args:
          - "--ignore-missing-imports"
          - "--explicit-package-bases"
          - "--scripts-are-modules"
        additional_dependencies:
          - alembic
          - pydantic
          - types-pyyaml

  #############
  # TERRAFORM #
  #############

  - repo: local
    hooks:
      - id: tofu-fmt
        name: tofu fmt
        language: system
        entry: tofu fmt
        types: [terraform]
      - id: tofu-validate
        name: tofu validate
        language: system
        entry: tofu validate
        types: [terraform]
        pass_filenames: false

  ############
  # UPGRADES #
  ############

  - repo: local
    hooks:
      - id: doit-autoupgrade
        name: doit autoupgrade
        stages: [pre-push, manual]
        language: python
        additional_dependencies:
          - doit
        entry: doit autoupgrade
        always_run: true
        pass_filenames: false

  #########
  # TESTS #
  #########

  - repo: local
    hooks:
      - id: doit-ls
        name: doit ls
        language: python
        additional_dependencies:
          - doit
        entry: doit ls
        always_run: true
        pass_filenames: false

revert(env): restore vultr-cli derivation for .mise REGISTRY and AWS_*
  .mise.toml
Due: none

feat(observability): cut telemetry volume + consolidate on Honeycomb
  fsharp/api/automate/terraform/monitors.tf
  terraform/infrastructure/observability/base_collector.tf
  terraform/infrastructure/observability/cluster_collector.tf
  terraform/infrastructure/observability/daemon_collector.tf
  terraform/infrastructure/observability/scrape_collector.tf
Due: tofu-fmt, tofu-validate

fix(observability): correct OTTL metric path (metric.name -> name)
  terraform/infrastructure/observability/base_collector.tf
Due: tofu-fmt, tofu-validate

fix(observability): valid label value for scrape TA serviceMonitorSelector
  terraform/infrastructure/observability/scrape_collector.tf
Due: tofu-fmt, tofu-validate

feat(terraform): enable S3-native state locking + serialize CI deploys
  .github/workflows/cicd.yaml
  .gitignore
  done.txt
  fsharp/api/automate/terraform/main.tf
  terraform/applications/httpbin/main.tf
  terraform/applications/miniflux/main.tf
  terraform/applications/node-red/node-red.tf
  terraform/applications/ollama/main.tf
  terraform/infrastructure/frankenstructure/main.tf
  terraform/infrastructure/gateway/main.tf
  terraform/infrastructure/observability/main.tf
  terraform/scripts/probe-conditional-writes.py
Due: tofu-fmt, tofu-validate

feat(observability): add tlscheck receiver (SSL expiry) via contrib image
  terraform/infrastructure/observability/cluster_collector.tf
Due: tofu-fmt, tofu-validate

Revert "feat(observability): add tlscheck receiver (SSL expiry) via contrib image"
  terraform/infrastructure/observability/cluster_collector.tf
Due: tofu-fmt, tofu-validate

docs(terraform): document S3 state backend & locking setup
  terraform/README.md
Due: none

feat(observability): re-add tlscheck on contrib 0.122.0 (SSL expiry)
  terraform/infrastructure/observability/cluster_collector.tf
Due: tofu-fmt, tofu-validate

fix(doit): exclude dotfile dirs from project discovery
  dodo.py
  done.txt
Due: none

Revert "feat(observability): re-add tlscheck on contrib 0.122.0 (SSL expiry)"
  terraform/infrastructure/observability/cluster_collector.tf
Due: tofu-fmt, tofu-validate

feat(observability): re-add tlscheck on contrib 0.123.0 (SSL expiry)
  terraform/infrastructure/observability/cluster_collector.tf
Due: tofu-fmt, tofu-validate

feat(ci): scope tofu deploys with per-stack path filters
  .github/workflows/cicd.yaml
  done.txt
Due: none

fix(ci): checkout repo in changes job so dorny works on push
  .github/workflows/cicd.yaml
  done.txt
Due: none

docs: note the deploy model in the root README
  README.md
Due: none

feat(external-secrets): add standalone External Secrets Operator module
  terraform/infrastructure/external-secrets/.terraform.lock.hcl
  terraform/infrastructure/external-secrets/cluster_secret_store.tf
  terraform/infrastructure/external-secrets/cluster_secret_store.yaml
  terraform/infrastructure/external-secrets/helm.tf
  terraform/infrastructure/external-secrets/locals.tf
  terraform/infrastructure/external-secrets/main.tf
  terraform/infrastructure/external-secrets/namespaces.tf
  terraform/infrastructure/external-secrets/secrets.tf
  terraform/infrastructure/external-secrets/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

chore(ci): bump actions/checkout v2 -> v4 on older deploy jobs
  .github/workflows/cicd.yaml
Due: none

chore(ci): bump opentofu/setup-opentofu v1 -> v2
  .github/workflows/cicd.yaml
Due: none

chore(ci): bump setup-opentofu v1 -> v2 in remaining workflows
  .github/workflows/lint.yaml
Due: none

perf(observability): raise infra-metric interval 30s->300s (cut HC datapoints ~10x)
  terraform/infrastructure/observability/cluster_collector.tf
  terraform/infrastructure/observability/daemon_collector.tf
Due: tofu-fmt, tofu-validate

perf(observability): parse severity for automate + k8s-logs so WARN+ filter applies
  terraform/infrastructure/observability/base_collector.tf
  terraform/infrastructure/observability/daemon_collector.tf
Due: tofu-fmt, tofu-validate

fix(ci): drop !**/*.md negation that defeated deploy path filters
  .github/workflows/cicd.yaml
Due: none

test(ci): verify deploy skip on a non-deployable, non-markdown change
  .gitignore
Due: none

chore(todo): track OAuth.fs incomplete pattern-match warning
  todo.txt
Due: none

fix(automate): single-line console logs to cut telemetry bloat
  fsharp/api/automate/AutoMate/Program.fs
Due: fantomas

ci: harden 1Password secrets pipeline (#3)
  .github/workflows/cicd.yaml
  .github/workflows/lint.yaml
  todo.txt
Due: none

feat(ci): deploy External Secrets Operator via new deploy-external-secrets job
  .github/workflows/cicd.yaml
Due: none

feat: deploy External Secrets Operator (foundation) (#4)
  .github/workflows/cicd.yaml
  terraform/infrastructure/external-secrets/.terraform.lock.hcl
  terraform/infrastructure/external-secrets/cluster_secret_store.tf
  terraform/infrastructure/external-secrets/cluster_secret_store.yaml
  terraform/infrastructure/external-secrets/helm.tf
  terraform/infrastructure/external-secrets/locals.tf
  terraform/infrastructure/external-secrets/main.tf
  terraform/infrastructure/external-secrets/namespaces.tf
  terraform/infrastructure/external-secrets/secrets.tf
  terraform/infrastructure/external-secrets/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

feat(observability): migrate grafana-cloud secret to ESO ExternalSecret
  .github/workflows/cicd.yaml
  terraform/infrastructure/observability/.terraform.lock.hcl
  terraform/infrastructure/observability/external_secret_grafana_cloud.tf
  terraform/infrastructure/observability/external_secret_grafana_cloud.yaml
  terraform/infrastructure/observability/main.tf
  terraform/infrastructure/observability/secrets.tf
  terraform/infrastructure/observability/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

docs(observability): architecture, signal catalog, decisions, runbook
  terraform/infrastructure/observability/README.md
Due: none

feat(automate): split automate-env — OAuth secrets via ESO ExternalSecret
  .github/workflows/cicd.yaml
  fsharp/api/automate/terraform/.terraform.lock.hcl
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/external_secret_automate.tf
  fsharp/api/automate/terraform/external_secret_automate.yaml
  fsharp/api/automate/terraform/main.tf
  fsharp/api/automate/terraform/secrets.tf
  fsharp/api/automate/terraform/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

feat: migrate automate OAuth secrets to External Secrets (#5)
  .github/workflows/cicd.yaml
  fsharp/api/automate/terraform/.terraform.lock.hcl
  fsharp/api/automate/terraform/deployments.tf
  fsharp/api/automate/terraform/external_secret_automate.tf
  fsharp/api/automate/terraform/external_secret_automate.yaml
  fsharp/api/automate/terraform/main.tf
  fsharp/api/automate/terraform/secrets.tf
  fsharp/api/automate/terraform/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

feat(miniflux): migrate admin creds to ESO + secretKeyRef (workload change)
  .github/workflows/cicd.yaml
  terraform/applications/miniflux/.terraform.lock.hcl
  terraform/applications/miniflux/external_secret_miniflux.tf
  terraform/applications/miniflux/external_secret_miniflux.yaml
  terraform/applications/miniflux/helm.tf
  terraform/applications/miniflux/main.tf
  terraform/applications/miniflux/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

feat: migrate miniflux admin creds to External Secrets (#6)
  .github/workflows/cicd.yaml
  terraform/applications/miniflux/.terraform.lock.hcl
  terraform/applications/miniflux/external_secret_miniflux.tf
  terraform/applications/miniflux/external_secret_miniflux.yaml
  terraform/applications/miniflux/helm.tf
  terraform/applications/miniflux/main.tf
  terraform/applications/miniflux/variables.tf
  todo.txt
Due: tofu-fmt, tofu-validate

feat(eso): add reloader auto-restart annotations to migrated workloads
  fsharp/api/automate/terraform/deployments.tf
  terraform/applications/miniflux/helm.tf
  todo.txt
Due: tofu-fmt, tofu-validate

feat: reloader auto-restart for ESO-migrated workloads (#7)
  fsharp/api/automate/terraform/deployments.tf
  terraform/applications/miniflux/helm.tf
  todo.txt
Due: tofu-fmt, tofu-validate

docs: document config, secrets, and CI/CD architecture
  AGENTS.md
  README.md
  docs/architecture-config-secrets-cicd.md
  terraform/infrastructure/external-secrets/README.md
  todo.txt
Due: none

docs: config, secrets & CI/CD architecture (#8)
  AGENTS.md
  README.md
  docs/architecture-config-secrets-cicd.md
  terraform/infrastructure/external-secrets/README.md
  todo.txt
Due: none

fix(mise): use cached TF_VAR_github_token for ghcr login, drop unscoped GITHUB_TOKEN
  .mise/setup.sh
  todo.txt
Due: none

fix(mise): cached ghcr token, no unscoped GITHUB_TOKEN (#9)
  .mise/setup.sh
  todo.txt
Due: none
